.map_part {
    height: 400px;
}
@media only screen and (max-width: 992px) {
    .map_part {
        height: 250px;
    }
    .history {
        display: flex;
        flex-flow: row wrap;
    }
    .history li {
        flex: 1 0 45%;
        margin-left: .25rem;
        margin-right: .25rem;
    }

}